<footer>
    <div class="content">
            <button mat-mini-fab class="socialMedia"> 
                <img src="assets/img/facebook-icon.png" width=24 height=24 >
            </button>

            <button mat-mini-fab class="socialMedia">
                <img src="assets/img/instagram-icon.png" width=24 height=24 >
            </button>
            <button mat-button class="regulamin">Regulamin</button> 
            <button mat-button class="politykaPrywatnosci">Polityka prywatności</button>
            <button mat-button class="kontakt">Kontakt</button>
    </div>
</footer>