<div class=" p-4 background row justify-content-center my-4" >
    <div class="box">
        <svg class="bi me-2" width="160" height="128" role="img" aria-label="Web Trainer">
            <image href="assets/img/logo.png" height="128" width="160"/>
            
        </svg>
        <span  class="fs-1 user-select-none"  >Workapp<br></span>
    </div>
    
    <div class="box" style="margin-top: 20px; margin-bottom: 20px;">
        <span  class="fs-2 ">Workapp is a simple web application, that helps you in improving your health condition, losing weight or gaining strength. </span>
    </div>
         
    <div class="join-us box">
        <div *ngIf="!isAuthenticated" class="position-absolute top-50 start-50 translate-middle">
            <button routerLink="/auth/signup" type="button" class="btn btn-warning fs-1 ">Join us now!</button>
        </div>
    </div>

    <div class="box contact">    <span  class="fs-1" >	<br>Contact: <br> </span>

        <span  class="fs-2 " >	<a href = "mailto: contact@workapp.com" class="btn btn-warning">Contact us</a> </span>
    
        <span  class="fs-2 " >	<br><a href = "mailto: support@workapp.com " class="btn btn-warning">Contact support</a> </span>

    </div>
 
</div>




