<div class userprofile> </div>

<div class="container-fluid">
    <span style="font-size: x-large">User Profile</span>
   
	<div class="row">
       
        <span style="font-size: xxx-large">{{user.name}}</span>
   
        <img
        [src]="user.imageUrl"
        alt="{{ user.name }} "
        class="img-responsive  rounded-3 "
        style="max-width: 400px; height: auto; "
         />
		<div class="col-md-12">
            
			<div class="row">
                
                
				<div class="col-md-12">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				</div>
			</div>
		</div>
	</div>
</div>