<div class="p-4 background row d-flex my-4 " >
    <div class="box d-flex align-items-center  justify-content-center user-select-none">
        <svg class="bi me-2 " width="180" height="128" role="img" aria-label="Web Trainer">
            <image href="assets/img/logo.png" height="128" width="160"/>
            
        </svg>
        <span  class="d-flex display-1 " >Welcome</span>
        
    </div>
    <span  class="d-flex display-4 align-items-center  justify-content-center" >{{userName}}</span>
    <div class="start-training box">
        <div class="position-absolute top-75 start-50 translate-middle">
            <button routerLink="/training"  type="button" class="btn btn-success fs-1 btn-circle btn-xl">Start new training</button>
        </div>
    </div> 
</div>