<div class="p-4 background row d-flex my-4 " >
    <div class="box d-flex align-items-center  justify-content-center user-select-none ">
        <svg class="bi me-2 " width="180" height="128" role="img" aria-label="Web Trainer">
            <image href="assets/img/logo.png" height="128" width="160"/>
            
        </svg>
        <span  class="d-flex display-1 " >Welcome to Workapp!</span>
        
    </div>
    <div class="please-login  box">
            <div class="d-flex align-items-center  justify-content-center display-4">
                <span class="p-4 ">Please </span>
                <button routerLink="/auth"  type="button" class="btn btn-dark "><span >Login</span></button>
                <span class="p-4 ">or </span>
                <button routerLink="/auth" type="button" class="btn btn-warning "><span >Sign-up</span></button>
                <span class=" p-4 ">to start your training!</span>
            </div>           
        
    </div> 
</div>