<div *ngIf="this.workouts.length > this.currentWorkoutId">
<div class="col-xs-12">
  <img
    *ngIf="isRestTime"
    src="https://cdn.pixabay.com/photo/2021/10/17/20/53/business-man-6719390_1280.png"
    class="img-responsive rounded-3"
    style="max-height: 300px"
  />
  <img
    *ngIf="!isRestTime"
    [src]="workouts[currentWorkoutId].imageUrl"
    class="img-responsive rounded-3"
    style="max-height: 300px"
  />
</div>

<div class="progress" style="height: 50px;">
  <div
    class="progress-bar "
    [ngClass]="{ 'bg-warning progress-bar-striped progress-bar-animated': isRestTime,'bg-success': !isRestTime }"
    role="progressbar"
    [ngStyle]="{ width: displayProgress + '%' }"
  >
    <h2>{{ counter }}</h2>
  </div>
</div>

<div *ngIf="isRestTime">
  <h1>Get Ready</h1>
  <h2>Upcoming exercise:</h2>
  <h3>{{ workouts[currentWorkoutId].name }}</h3>
</div>
<div *ngIf="!isRestTime">
  <h1>{{ workouts[currentWorkoutId].name }}</h1>
  <h2>Description:</h2>
  <h3>{{ workouts[currentWorkoutId].description }}</h3>
</div>
</div>
<div *ngIf="this.workouts.length <= this.currentWorkoutId">
  <h1>Congratulations your workout is done!!!</h1>
</div>